/* --------- Nav Styles --------- */

.nav.navbar-nav{
  display: -webkit-inline-box;
}

.navbar-default{
  background-color:transparent;
  border-color:transparent
}

.navbar-brand{
  font-size:30px;
}

.navbar > .container, .navbar > .container-fluid{
  display:block
}

.navbar-nav{
  float:right
}

.nav.navbar-nav a{
  font-size:12px!important
}

.btn:focus{
  color: #cfd2db!important;
}

/* --------- Dashboard View --------- */
.icon-green{
  color:#1BC98E!important;
}

.dash-table img{
  max-width:10%;
}

.dash-table td{
  font-size:18px
}

.dash-table{
  max-width:65%!important
}
.cap{
  padding: 10px;
  width: 175px;
}
.pdf-image{
  width: 175px;
  height: 225px;
  padding: 10px;
}
.video-thumbnail{
  margin: 1em;
  width: 180px;
  height: 135px;
}

.container{
  float: left;

}

/* --------- Patient View --------- */

.averages div{
  margin:0 auto;
  border:1px solid #434857;
  max-width:15%;
  padding:1em
}

.averages h3{
  font-size:45px;
  text-align: center
}

.averages .delta-indicator{
  font-size:25px;
}

.averages .statcard-desc{
  font-size:135%;
  text-align: center
}

/* --------- Home Page --------- */
.screen{
  max-width: 100%;
}

.home-content h1{
  font-size:60px;
  text-align: left;
  margin-left:0;
  margin-bottom:20px!important;
}

.home-content p{
  font-size:16px;
}
