footer{
  min-width:100%;
  background-color:#3F424B;
  color:white;
  padding:1em;
  position:absolute;
  bottom:0
}

footer ul li{
  list-style: none;
  float:left;
}

.footer-label{
  border-right:1px solid #707070;
  max-width: 15%
}
