footer{
  max-width:100%;
  max-height:5vh;
  background-color:#3F424B;
  color:white;
  padding:1em;
  position:absolute;
  bottom:0;
}

footer li{
  float:left;
  text-decoration: none;
}

footer .footer-label{
  border-right:1px solid #707070;
}
